.body {
    width: 390px;
    height: 844px;
    background: #6f966f;
}

.logo {
    width: 216px;
    height: 41px;
    flex-shrink: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 46px;
}

.text {
    width: 315px;
    height: 23px;
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.list__block {
    width: 370px;
    height: 379px;
    flex-shrink: 0;
    background: rgba(73, 94, 73, 0.55);
    filter: drop-shadow(0px 4px 4px #000);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.elements_container {
    padding-top: 50px;
    display: block;
    width: 319px;
    margin-left: 25px;
    margin-right: auto;
}

.element {
    width: 349px;
    height: 50px;
    flex-shrink: 0;
    background: rgba(23, 26, 31, 0.55);
    filter: drop-shadow(0px 4px 4px #000);
}
.element_button {
    width: 349px;
    height: 50px;
    flex-shrink: 0;
    background: rgba(23, 26, 31, 0.55);
    filter: drop-shadow(0px 4px 4px #000);
}

.backhome_button {
    width: 185px;
    height: 36px;
    background: rgba(23, 26, 31, 0.55);
    color: #fff;
    display: block;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    filter: drop-shadow(0px 4px 4px #000);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.for__doctors {
    width: 97px;
    height: 24px;
    flex-shrink: 0;
    color: #fff;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
