.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: calc(100vw / 9.71);
}
.content_wrapper {
    width: 87%;
    max-width: 1670px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.description {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
}
.title {
    font-family: 'Segoe script';
    padding-top: 60px;
    font-size: 80px;
    line-height: 88px;
    color: #d3972b;
}
.text {
    width: 100%;
}
.bottom_text,
.top_text {
    font-family: 'ABeeZee';
    color: #d3972b;
}
.top_text {
    font-size: 32px;
    font-weight: 38.4px;
}
.bottom_text {
    font-size: 28px;
    font-weight: 33.6px;
    margin-top: calc(100vw / 75.3);
}
.bottom_text a {
    text-decoration: underline;
    color: #efeef1;
}
.poster_wrapper {
    position: relative;
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: end;
}
.poster {
    pointer-events: none;
    width: 100%;
    height: 100%;
}
.text,
.title {
    opacity: 0;
}
.active {
    animation: anim_bottom_top 0.4s ease-in-out both;
}
.anim_line {
    position: absolute;
    background-color: #d3972b;
    width: 0;
    height: 11px;
    bottom: 1px;
    right: 15%;
    transition: 0.3s ease-in-out;
}
.anim_line.line_active {
    width: 320%;
}

@keyframes anim_bottom_top {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (min-width: 1920px) {
    .wrapper {
        padding-top: 130px;
    }
    .poster_wrapper {
        height: 589px;
        width: auto;
    }
    .content_wrapper {
        justify-content: space-evenly;
    }
    .anim_line.line_active {
        width: 430%;
    }
}
@media screen and (max-width: 1280px) {
    .title {
        padding-top: calc(100vw / 21.2);
        font-size: calc(100vw / 16);
        line-height: calc(100vw / 14.54);
    }
    .top_text {
        font-size: calc(100vw / 40);
        font-weight: calc(100vw / 33.3);
    }
    .bottom_text {
        font-size: calc(100vw / 45.7);
        font-weight: calc(100vw / 38.1);
    }
    .anim_line {
        height: calc(100vw / 116.36);
    }
}
@media screen and (max-width: 400px) {
    .content_wrapper {
        width: 95%;
    }
    .description {
        flex-grow: 2;
    }
    .title {
        font-size: 24px;
        line-height: 26.4px;
    }
    .top_text {
        font-size: 0.1em;
        line-height: 13.2px;
    }
    .bottom_text {
        /* font-size: 10px; */
        line-height: 12px;
    }
    .anim_line {
        height: 2px;
    }
    .poster_wrapper {
        width: 110px;
    }
    .anim_line.line_active {
        width: calc(100vw / 1.1);
    }
    .wrapper {
        padding-top: calc(100vw / 20);
    }
}
