:root {
    --anim-time: 40s;
}
.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: calc(100vw / 320) 0;
    margin-top: 10px;
}
.content {
    overflow: hidden;
    width: 100%;
    max-width: 1920px;
    position: relative;
    border-top: 2px solid #d3982b;
    border-bottom: 2px solid #d3982b;
    padding: calc(100vw / 32) 0;
}

.center_item {
    display: flex;
    width: 100%;
    justify-content: center;
}
.marquee_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.marquee_content {
    position: relative;
    width: 100%;
    max-width: 1920px;
}
.speed_btn {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 20px;
    height: 20px;
    background-color: #ffe500;
    border-radius: 50%;
    z-index: 3;
}
.speed_btn.r {
    left: auto;
    right: 10px;
}
@media screen and (min-width: 1920px) {
    .content {
        padding: 40px 0;
    }
}
